# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\programmer work\Github repositories\INFO6205_FINAL\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
